<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7BE81;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #F3E2A9;
}

.active {
  background-color: #333;
}
    </style>
</head>
<body style="background-color:#F3E2A9">

    <ul>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li style="float:right"><a class="active" href="/logout">Log out</a></li>
    </ul>

<form action="http://127.0.0.1:8080/add_book">
    <input type="submit" value="Add a book" style="display: block; margin: 0 auto;"/>
    <p style="padding-bottom: 10px; padding-top: 20px;"></p>

    {% for item in books %}
    <div class="alert alert-warning" role="alert">
        <h2>{{item[2]}}</h2>
        <div>{{item[1]}}</div>
        <a href="static/books/{{item[1]}}">{{item[1]}}</a>
        <br>
        <a href="/delete_book/{{item[0]}}">Удалить</a>
    </div>
    {% endfor %}
</form>
</body>
</html>